In [22]:
import pandas as pd
import numpy as np

In [48]:
#Q1. Write a Pandas program to import excel data (coalpublic2013.xlsx ) into a Pandas dataframe

df=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\coalpublic2013.xls",header=3)

df.head(3)

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784

In [24]:
#Q2. Write a Pandas program to get the data types of the given excel data (coalpublic2013.xlsx ) fields

df.dtypes

Year                          int64
MSHA ID                       int64
Mine Name                    object
Mine State                   object
Mine County                  object
Mine Status                  object
Mine Type                    object
Company Type                 object
Operation Type               object
Operating Company            object
Operating Company Address    object
Union Code                   object
Coal Supply Region           object
Production (short tons)       int64
Average Employees             int64
Labor Hours                   int64
dtype: object

In [25]:
#Q3. Write a Pandas program to read specific columns from a given excel file

df.iloc[:,5:9]

,Mine Status,Mine Type,Company Type,Operation Type
0,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only
1,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only
2,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant
3,Active,Surface,Indepedent Producer Operator,Mine only
4,Active,Surface,Indepedent Producer Operator,Mine only
...,...,...,...,...
1445,"Active, men working, not producing",Refuse,Operating Subsidiary,Mine and Preparation Plant
1446,"Active, men working, not producing",Refuse,Indepedent Producer Operator,Mine only
1447,Active,Refuse,Indepedent Producer Operator,Mine only
1448,Active,Refuse,Indepedent Producer Operator,Mine only
1449,"Active, men working, not producing",Refuse,Indepedent Producer Operator,Mine only

In [26]:
#Q4.Write Pandas program to find the sum, mean, max, min value of 'Production (short tons)' column of coalpublic2013.xlsx file

print("Sum: ",df["Production (short tons)"].sum()) 
print("Mean: ",df["Production (short tons)"].mean())
print("Maximum: ",df["Production (short tons)"].max())
print("Minimum: ",df["Production (short tons)"].min())

Sum:  984841779
Mean:  679201.2268965517
Maximum:  111005549
Minimum:  0

In [27]:
#Q5.Write a Pandas program to insert a column in the sixth position of the said excel sheet and fill it with NaN values

df.insert(6,'col6',np.nan)
df

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,col6,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",NaN,Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,NaN,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",NaN,Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784
3,2013,103246,Bear Creek,Alabama,Franklin,Active,NaN,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193
4,2013,103451,Knight Mine,Alabama,Franklin,Active,NaN,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,2013,1103254,Fidelity Mine,Refuse Recovery,Perry,"Active, men working, not producing",NaN,Refuse,Operating Subsidiary,Mine and Preparation Plant,"Energy Recovery, Llc","P.O. Box 483, Benton, IL 62812",,Illinois Basin,18532,4,8249
1446,2013,1102636,Wfi,Refuse Recovery,Saline,"Active, men working, not producing",NaN,Refuse,Indepedent Producer Operator,Mine only,Wfi,"4270 North America Road, Galatia, IL 62935",,Illinois Basin,5070,4,1449
1447,2013,4407233,Gobco #8,Refuse Recovery,Russell,Active,NaN,Refuse,Indepedent Producer Operator,Mine only,Mountain Fuels Inc,"P.O. Box 749, Abingdon, VA 24210",,Appalachia Central,377607,16,43684
1448,2013,1518524,Turkey Pen Refuse,Refuse Recovery,Pike,Active,NaN,Refuse,Indepedent Producer Operator,Mine only,Belcher & Company Excavating I,"2340 Conaway Road, Big Rock, VA 24603",,Appalachia Central,7744,2,622
1449,2013,1519685,Fedscreek Refuse Pile,Refuse Recovery,Pike,"Active, men working, not producing",NaN,Refuse,Indepedent Producer Operator,Mine only,P B Dirt Movers Inc.,"P.O. Box 10, Big Rock, VA 24603",,Appalachia Central,17357,3,1020

In [49]:
#Q6.Write a Pandas program to import some excel data (coalpublic2013.xlsx ) skipping first twenty rows into a Pandas dataframe

df=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\coalpublic2013.xls",
                 skiprows=20)

In [55]:
#Q9.Write Pandas program to create a subtotal of "Labor Hours" against MSHA ID from the given excel data 

df=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\coalpublic2013.xls",
                 header=3)

df.groupby('MSHA ID')['Labor Hours'].sum().reset_index(name='Labor Hours')

      MSHA ID  Labor Hours
0      100329       144002
1      100347       215295
2      100515         6240
3      100759       474784
4      100851      1001809
...       ...          ...
1316  4801353      2811138
1317  4801429       161270
1318  4801645        35687
1319  4801646       661265
1320  5000030       286079

[1321 rows x 2 columns]

In [56]:
#Q10. Write a Pandas program to import excel data (coalpublic2013.xlsx ) into a dataframe and find a specific MSHA ID

df.loc[df['MSHA ID']==100329]

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
6,2013,100329,Concord Mine,Alabama,Jefferson,Active,Underground,Operating Subsidiary,Preparation Plant,Oak Grove Resources Llc,"8360 Taylors Ferry Rd, Hueytown, AL 35023",UNIT,Appalachia Southern,0,59,144002

In [59]:
#Q11.Write Pandas program to import excel data  into a dataframe and find details where "Labor Hours" > 20000.

df.loc[df['Labor Hours']>20000]

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
0,2013,103381,Tacoa Highwall Miner,Alabama,Bibb,"Active, men working, not producing",Surface,Indepedent Producer Operator,Mine only,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,56004,10,22392
1,2013,103404,Reid School Mine,Alabama,Blount,Permanently abandoned,Surface,Indepedent Producer Operator,Mine only,"Taft Coal Sales & Associates,","3000 Riverchase Galleria Ste 1, Birmingham, AL...",UNIT,Appalachia Southern,28807,18,28447
2,2013,100759,North River #1 Underground Min,Alabama,Fayette,"Active, men working, not producing",Underground,Indepedent Producer Operator,Mine and Preparation Plant,Jim Walter Resources Inc,"3114 County Rd 63 S, Berry, AL 35546",UNIT,Appalachia Southern,1440115,183,474784
3,2013,103246,Bear Creek,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","912 Edenton Street, Birmingham, AL 35242",,Appalachia Southern,87587,13,29193
4,2013,103451,Knight Mine,Alabama,Franklin,Active,Surface,Indepedent Producer Operator,Mine only,"Birmingham Coal & Coke Co., In","P.O. Box 354, Lynn, AL 35242",,Appalachia Southern,147499,27,46393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1418,2013,4800677,Jim Bridger Mine,Wyoming,Sweetwater,Active,Surface,Operating Subsidiary,Mine only,Bridger Coal Company,"932 9 Mile Road, Point Of Rock, WY 82942",Western Energy Workers,Western,785984,182,368307
1419,2013,4801180,Black Butte And Leucite Hills,Wyoming,Sweetwater,Active,Surface,Operating Subsidiary,Mine only,Black Butte Coal Com,"P.O. Box 98, Point Of Rock, WY 82942",,Western,3657036,186,386879
1420,2013,4801646,Bridger Underground Coal Mine,Wyoming,Sweetwater,Active,Underground,Operating Subsidiary,Mine only,Bridger Coal Company,"P.O. Box 68, Point Of Rock, WY 82942",Western Energy Workers,Western,4442616,278,661265
1428,2013,3603561,Mcclure Strip,Refuse Recovery,Jefferson,Active,Refuse,Indepedent Producer Operator,Mine and Preparation Plant,P & N Coal Company Inc,"P.O. Box 332, Punxsutawney, PA 15767",,Appalachia Northern,235642,51,121332
1447,2013,4407233,Gobco #8,Refuse Recovery,Russell,Active,Refuse,Indepedent Producer Operator,Mine only,Mountain Fuels Inc,"P.O. Box 749, Abingdon, VA 24210",,Appalachia Central,377607,16,43684

In [79]:
#Q12.Write a Pandas program to import excel data  into a dataframe and find details where "Mine Name" starts with "P

df[df['Mine Name'].apply(lambda x:str(x).startswith('P'))].head(3)

,Year,MSHA ID,Mine Name,Mine State,Mine County,Mine Status,Mine Type,Company Type,Operation Type,Operating Company,Operating Company Address,Union Code,Coal Supply Region,Production (short tons),Average Employees,Labor Hours
13,2013,103332,Powhatan Mine,Alabama,Jefferson,Active,Surface,Indepedent Producer Operator,Mine only,Rac Mining Llc,"P.O. Box 354, Lynn, AL 35575",,Appalachia Southern,140521,27,61394
18,2013,102976,Piney Woods Preparation Plant,Alabama,Shelby,Active,Surface,Indepedent Producer Operator,Preparation Plant,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,0,5,14828
19,2013,102976,Piney Woods Preparation Plant,Alabama,Shelby,Active,Underground,Indepedent Producer Operator,Preparation Plant,"Jesse Creek Mining, Llc","1615 Kent Dairy Rd, Alabaster, AL 35007",,Appalachia Southern,0,9,23193

In [93]:
#Q25.Write Pandas program to import three datasheets from a given excel data  into a single dataframe and 
#export the result into new Excel file


df1=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\employee.xlsx",header=0,sheet_name=0)

df2=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\employee.xlsx",header=0,sheet_name=1)

df3=pd.read_excel("C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\employee.xlsx",header=0,sheet_name=2)

df = pd.concat([df1, df2, df3])
df.to_excel('C:\\Users\\Lenovo\\Documents\\Python Practice\\Practice_Pandas\\output.xlsx', index=True)